section.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    flex-grow: 0;
}

section.top h1{
    margin-top: 0;
}

section.top img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

section.form label {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    width: 16rem;
}

section.form .save {
    margin-top: 1rem;
    height: 3rem;
    width: 9rem;
    background: lime;
    color: white;
    border: none;
    border-radius: 50rem;
    font-size: 1rem;
}


