@font-face {
    font-family: Raleway;
    src: url(/assets/fonts/Raleway/static/Raleway-Light.ttf);
} 
@font-face {
    font-family: Raleway;
    src: url(/assets/fonts/Raleway/static/Raleway-Bold.ttf);
    font-weight: bold;
} 

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
}


/* * {
    outline: red 1px solid;
} */

html {
    font-size: 16px;
    font-family: Raleway;
}

.post {
    background: #E4F2FF;
    height: 30rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0rem 1rem 0rem 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.post:not(:first-of-type) {
    margin-top: 4rem;
}







/* Date section */
.date-section {
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.date-section .left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    height: 2rem;
    position: relative;
}
.date-section .right {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: 1rem;
    position: relative;
}

.date-section .left img {
    background: mediumaquamarine;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    margin-right: 1rem;
    /* width: ; */
}

.date-section .right * {
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-section .left .name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-section .left .name {
    height: 100%;
    margin: 0;
    margin-right: 1rem;
    /* width: ; */
}
.date-section .right .date {
    height: 100%;
    margin: 0;
    /* width: ; */
}


/* image section */
.image-section {
    height: 16rem;
    width: 100%;
    overflow: hidden;
}

.image-section img {
    position: relative;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}







/* text section */
.text-section {
    height: 10rem;
    display: flex;
    padding: 1rem;
}

.text-section .text-section-text {
width: 70%;
}

.text-section .text-section-text h2 {
    margin: .5rem 0rem;
}

.text-section .text-section-text p {
    margin: .5rem 0rem;
}


.text-section .text-section-vote {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-container {
    position: relative;;
    width: 100%;
    margin: 0;
    flex-grow: 1;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section .text-section-vote img.upvote  {
    height: 60%;
    width: auto;
}
.text-section .text-section-vote p {
    position: relative;;
    width: 100%;
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-section .text-section-vote img.downvote {
    height: 60%;
    width: auto;
}







/* bottom section */
.bottom-section {
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

.bottom-section .left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    
}

.bottom-section .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

.bottom-section .left button {
    border: none;
    background: none;
    font-weight: bold;
    outline: none;
}

.bottom-section .right .edit-button {
    border-radius: 5rem;
    background-color: rgb(0, 132, 255);
    appearance: none;
    border: none;
    margin-right: 1rem;
    padding: .3rem .6rem;
}

.bottom-section .right .delete-button {
    border-radius: 5rem;
    background-color: rgb(255, 0, 0);
    appearance: none;
    padding: .3rem .6rem;
    border: none;
}








/* Comment */
.comment {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 0rem 2rem 1rem 2rem;
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow: hidden;
}

.comment .upper {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    background: rgb(231, 231, 231);
}

.comment .upper .right {
    margin-right: 1rem;
}

.comment .upper .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}
.comment .upper .left img {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}
.comment .upper .left .name {
    margin-left: 1rem;
}
.comment .lower {
    display: flex;
    justify-content: space-between;
    background: rgb(231, 231, 231);
}

.comment .lower .right  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.comment .lower .right .edit-button {
    margin-right: 1rem;
    background: rgb(0, 132, 255);
   
}
.comment .lower .right .delete-button {
    background: #F00;
   
}

.comment .lower .left {
    margin-left: 1rem;
}

.button {
    border-radius: 5rem;
    appearance: none;
    border: none;
    padding: .3rem .6rem;
}







/* Create post  */
.text-section .text-section-text .headline {
    margin-top: 1rem;
    font-size: 1.5rem;  
    background: none;  
    border: none;
}

.text-section .text-section-text .body {
    width: 100%;
    height: 6rem;
    margin-top: 1rem;
    font-size: 1rem;
    background: none;
    border: none;
}
